div {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    height: 150px;
    width: 200px; 
    margin: 10px;
    display: block;
    padding: 10px;
}

.yellow { 
    background-color : rgb(253, 210, 19);
    margin: 10px;
}

.black {
    color: white;
    background-color: black;
    margin: 10px;
}